.kepala{
	background-color: #6E0A18;
	color: white;
}
h1{
	font-family: 'Roboto', sans-serif;
	
}
h3{
	font-family: 'Roboto', sans-serif;
}
h2{
	font-family: 'Roboto', sans-serif;
	color: brown;
}
h6{
	font-family:  'Roboto', sans-serif;
}