/* body {
		color: #fff;
		background: white;
	} */
	.navbar {
		padding: 0;
	}
	.nav-item {
		padding-right: 50px;
	}
	.warna-nav {
		color: #A0522D;
	}
	.btn-search {
		margin-right: 40px;
	}
	.form-control {
        min-height: 41px;
		background: #fff;
		box-shadow: none !important;
		border-color: #e3e3e3;
	}
	.form-control:focus {
		border-color: #70c5c0;
	}
    .form-control, .btn {        
        border-radius: 2px;
    }
	.login-form {
		width: 350px;
		margin: 0 auto;
		padding: 100px 0 30px;		
	}
	.login-form form {
		color: #7a7a7a;
		border-radius: 2px;
    	margin-bottom: 15px;
        font-size: 13px;
        padding: 30px;	
        position: relative;	
    }
	.login-form .avatar {
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -50px;
		width: 35%;
		border-radius: 50%;
		z-index: 9;
		padding: 1px;

	}
	.login-form .avatar img {
		width: 100%;
		border-radius: 50%;
	}	
    .login-form input[type="checkbox"] {
        margin-top: 2px;
    }
    .login-form .btn {        
        font-size: 16px;
        font-weight: bold;
		background: #6E0A18;
		border: none;
		margin-bottom: 20px;
		border-radius: 8px;
    }
	.login-form .btn:hover, .login-form .btn:focus {
		background: #A0522D;
        outline: none !important;
	}
	.login-form a {
		color: #fff;
		text-decoration: underline;
	}
	.login-form a:hover {
		text-decoration: none;
	}
	.login-form form a {
		color: #7a7a7a;
		text-decoration: none;
	}
	.login-form form a:hover {
		text-decoration: underline;
	}
	.form-control{
		border-radius: 8px;
		border-color: #6E0A18;
	}
	.jarak{
		padding-top: 25%;
	}
